In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('csv_files/bank_marketing.csv')
df.head()

,client_id,age,job,marital,education,credit_default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,0,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,1,57,services,married,high.school,unknown,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,2,37,services,married,high.school,no,yes,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,3,40,admin.,married,basic.6y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,4,56,services,married,high.school,no,no,yes,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
client = df.loc[:, ['client_id', 'age', 'job', 'marital', 'education', 'credit_default', 'housing', 'loan']]
client.rename(columns={'client_id': 'id'}, 
                       inplace=True)


campaign = df.loc[:, ['client_id', 'campaign', 'month', 'day', 'duration', 'pdays', 'previous', 'poutcome', 'y']]
campaign.rename(columns={'campaign': 'number_contacts',
                                    'duration': 'contact_duration', 
                                    'previous': 'previous_campaign_contacts', 
                                    'poutcome': 'previous_outcome', 
                                    'y': 'campaign_outcome'}, 
                          inplace=True)

economics = df.loc[:, ['client_id', 'emp_var_rate', 'cons_price_idx', 'euribor3m', 'nr_employed']]
economics.rename(columns={'euribor3m': 'euribor_three_months', 
                                      'nr_employed': 'number_employed'}, 
                             inplace=True)

In [4]:
client.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   housing         41188 non-null  object
 7   loan            41188 non-null  object
dtypes: int64(2), object(6)
memory usage: 2.5+ MB

In [5]:
campaign.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   month                       41188 non-null  object
 3   day                         41188 non-null  int64
 4   contact_duration            41188 non-null  int64
 5   pdays                       41188 non-null  int64
 6   previous_campaign_contacts  41188 non-null  int64
 7   previous_outcome            41188 non-null  object
 8   campaign_outcome            41188 non-null  object
dtypes: int64(6), object(3)
memory usage: 2.8+ MB

In [6]:
economics.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   client_id             41188 non-null  int64
 1   emp_var_rate          41188 non-null  float64
 2   cons_price_idx        41188 non-null  float64
 3   euribor_three_months  41188 non-null  float64
 4   number_employed       41188 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 1.6 MB

In [7]:
client['education'] = client['education'].str.replace('.', '_')
client['education'] = client['education'].replace('unknown', np.nan)

client['job'] = client['job'].str.replace('.', '')

client['credit_default'] = np.where(client['credit_default'] == 'yes', 1, 0)

client['housing'] = np.where(client['housing'] == 'yes', 1, 0)

client['loan'] = np.where(client['loan'] == 'yes', 1, 0)
client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       39457 non-null  object
 5   credit_default  41188 non-null  int32
 6   housing         41188 non-null  int32
 7   loan            41188 non-null  int32
dtypes: int32(3), int64(2), object(3)
memory usage: 2.0+ MB

C:\Users\Ticy\AppData\Local\Temp\ipykernel_13372\2878782018.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  client['education'] = client['education'].str.replace('.', '_')
C:\Users\Ticy\AppData\Local\Temp\ipykernel_13372\2878782018.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  client['job'] = client['job'].str.replace('.', '')

In [8]:
campaign['previous_outcome'] = np.where(campaign['previous_outcome'] == 'success', 1, 0)

campaign['campaign_outcome'] = np.where(campaign['campaign_outcome'] == 'yes', 1, 0)

In [9]:
campaign['campaign_id'] = 1

In [10]:
campaign["month"] = campaign["month"].str.capitalize()
campaign["year"] = "2022"
campaign["day"] = campaign["day"].astype(str)

campaign["last_contact_date"] = campaign["year"] + "-" + campaign["month"] + "-" + campaign["day"]
campaign["last_contact_date"] = pd.to_datetime(campaign["last_contact_date"], 
                                               format="%Y-%b-%d")

campaign.drop(columns=["month", "day", "year"], inplace=True)

In [11]:
client.to_csv("client.csv", index=False)
campaign.to_csv("campaign.csv", index=False)
economics.to_csv("economics.csv", index=False)

In [12]:
import pandas as pd
client = pd.read_csv('client.csv')
client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       39457 non-null  object
 5   credit_default  41188 non-null  int64
 6   housing         41188 non-null  int64
 7   loan            41188 non-null  int64
dtypes: int64(5), object(3)
memory usage: 2.5+ MB

In [13]:
import pandas as pd
campaign = pd.read_csv('campaign.csv')
campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   pdays                       41188 non-null  int64
 4   previous_campaign_contacts  41188 non-null  int64
 5   previous_outcome            41188 non-null  int64
 6   campaign_outcome            41188 non-null  int64
 7   campaign_id                 41188 non-null  int64
 8   last_contact_date           41188 non-null  object
dtypes: int64(8), object(1)
memory usage: 2.8+ MB